*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #575757;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 90%;
    padding: 0 5%;
}





/* section 01 - showcase */
#showcase{
    min-height: 600px;
    display: flex;
}
.showcase-box{
    width: 40%;
    margin: 50px auto;
}
#showcase-description{
    padding-top: 140px;
}
#showcase-description h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 35px;
}
#showcase-description h1 span{
    color: #fb954b;
}
#showcase-description p{
    font-size: 15px;
    letter-spacing: 0px;
    color: #828282;
    margin-bottom: 70px;
}
.btn{
    background: linear-gradient(to right, #fb954b, #fe472d);
    color: white;
    font-weight: 500;
    padding: 15px 25px;
    border-radius: 25px;
}
#img-person01{
    width: 100%;
    margin-top: -535px;
}
#dotted-shape{
    background: url(../img/shapes/dotted-img-01.png);
    background-size: cover;
    width: 35%;
    height: 170px;
    margin-top: 365px;
    margin-left: 57%;
}





/* section 02 - about */
#about{
    width: 90%;
    min-height: 450px;
    display: flex;
    background: url(../img/shapes/about-back.png);
    background-size: cover;
}
.about-box{
    width: 40%;
    margin: 0 5%;
}
#about-img img{
    width: 100%;
    margin-top: 90px;
    margin-bottom: -5px;
}
#about-description h1{
    margin-top: 90px;
}
#about-description p{
    margin: 30px 0 60px 0;
}


































footer{
    height: 400px;
}