*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: #575757;
}
.container{
    width: 90%;
    padding: 0 5%;
}





/* section 01 - showcase */
#showcase{
    min-height: 600px;
    display: flex;
}
.showcase-box{
    width: 40%;
    margin: 50px auto;
}
#showcase-description{
    padding-top: 140px;
}
#showcase-description h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 35px;
}
#showcase-description h1 span{
    color: #fb954b;
}
#showcase-description p{
    font-size: 15px;
    letter-spacing: 0px;
    color: #828282;
    margin-bottom: 70px;
}
.btn{
    background: linear-gradient(to right, #fb954b, #fe472d);
    color: white;
    font-weight: 500;
    padding: 15px 25px;
    border-radius: 25px;
    box-shadow: 0 0 10px #fb954b;
}
#img-person01{
    width: 100%;
    margin-top: -535px;
}
#dotted-shape{
    background: url(../img/shapes/dotted-img-01.png);
    background-size: cover;
    width: 35%;
    height: 170px;
    margin-top: 365px;
    margin-left: 57%;
}





/* section 02 - about */
#about{
    min-height: 450px;
    display: flex;
    background: url(../img/shapes/about-back.png);
    background-size: cover;
}
.about-box{
    width: 40%;
    margin: 0 5%;
}
#about-img img{
    width: 100%;
    margin-top: 90px;
    margin-bottom: -5px;
}
#about-description h1{
    margin-top: 90px;
}
#about-description p{
    margin: 30px 0 60px 0;
}





/* section 03 - recipies */
#recipies{
    text-align: center;
    margin-top: 100px;
}
#recipie-header p{
    margin: 30px auto;
    width: 70%;
}
#recipie-container{
    width: 100%;
    display: flex;
    margin-top: 50px;
}
.recipie-box{
    width: 25%;
    margin: auto;
    padding: 1.5%;
    border-radius: 30px;
    box-shadow: 0 0 20px #828282;
    text-align: left;
}
.recipie-box img{
    width: 100%;
    margin-bottom: 30px;
    border-radius: 15px;
}
.recipie-box h2{
    font-size: 20px;
    font-weight: 600;
}
.recipie-box p{
    margin: 15px 0;
    text-align: left;
}





/* section 06 request */
#request{
    background: url(../img/shapes/request-back.jpg);
    background-size: cover;
    width: 80%;
    padding: 0 10%;
    min-height: 600px;
    margin-top: 100px;
    overflow: hidden;
}
#request-header{
    text-align: center;
    width: 80%;
    margin: 50px auto;
}
#request-header h1{
    color: #fe472d;
}
#request-header p{
    margin: 20px 0;
    font-size: 12px;
}
#request-container{
    display: flex;
    justify-content: space-between;
}
.request-box{
    width: 40%;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form input, form textarea{
    width: 60%;
    height: 35px;
    border: 1px solid #575757;
    border-radius: 10px;
    outline: none;
    margin-left: 30%;
    padding: 0 20px;
}
form textarea{
    padding-top: 10px;
    height: 75px;
}
.request-box img{
    width: 80%;
}
#newsletter{
    display: flex;
}
#newsletter input{
    width: 20px;
}
#newsletter p{
    font-size: 12px;
    padding: 10px 0 0 10px;
}
form .btn{
    width: 25%;
    margin-left: 200px;
    padding-top: 8px;
    border-radius: 10px;
}





/* section 04 - social */
#social{
    color: black;
    width: 50%;
    margin: 100px auto;
    padding: 10px 10%;
    border-radius: 20px;
    box-shadow: 0 0 25px #828282;
    text-align: center;
    cursor: pointer;
}
.social-box{
    margin: 100px 0;
}
.social-box h1{
    font-size: 25px;
    margin: 30px 0;
}
.social-box a{
    font-size: 20px;
    margin: 0 15px;
    color: #fe472d;
}
.social-follower{
    width: 30%;
    display: inline-block;
}
.social-follower h2{
    font-size: 35px;
}
.social-follower p{
    font-size: 10px;
    color: #311f1d
}





/* section - 05 footer */
footer{
    background-color: black;
    height: 200px;
    text-align: center;
    color: white;
}
footer h1{
    color: #fb954b;
    padding: 30px 0;
    text-transform: uppercase;
    word-spacing: 10px;
}
Footer h1 span{
    color: #828282;
}


/* https://quotefancy.com/media/wallpaper/3840x2160/6399898-Kung-Fu-Panda-Quote-Your-mind-is-like-this-water-my-friend-When-it.jpg */
